@font-face {
    font-family: Manjari;
    src: url(/Font/Manjari/Manjari-Regular.ttf);

    font-family: Signika;
    src:url(/Font/Signika/Signika-VariableFont_GRAD\,wght.ttf);
}


*
{
    margin: 0px;
    padding: 0px;
}


/* header */
header
{
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    padding: 4px;
    margin:0px auto;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 10;
}
header div
{
    margin: 5px 10px;
    padding: 2px;
    display: flex;
    align-items: center;
}

header div a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    padding: 6px 15px;
    border-radius: 20px;
}
header div a:hover
{
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    
    padding: 6px 15px;
    transition:0.4s ease-in;
}

.logo a
{
    font-size: 1.4em;
}
.navi
{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    
    width: 45%;
}
@media(max-width:800px)
{
    .nav
    {
        display:none;
    }
}

.profile button
{
    margin: 7px auto;
    font-size: small;
}

.offcanvas
{
    margin: 0px;
}
.offcanvas-body
{
    display: flex;
    flex-direction: column;
    
}


/* header ends */


/* main */
main
{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

/* Carousel section */
/* .carousel-slides
{

} */
.carousel-item
{
    background-size: cover;
    min-height: 80vh ;
    position: relative;
}
.carousel-item:nth-child(1)
{
    background-image: url('carousel_picure_1.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
}

.slide-content
{
    position: absolute;
    right: 15%;
    bottom: 20%;
    background-color: rgba(255, 255, 255, 0.745);
    padding: 1.5rem;
    text-align: center;
    border-radius: 20px;
}

.slide-content p
{
    font-size: x-large;
    font-weight: bold;
}
.slide-content>button
{
    padding:10px 20px;
    background-color: #040404;
    color: white;
}
.slide-content>button:hover
{
    padding:10px 20px;
    background-color: #072194;
    color: white;
}

/* Modal Form */



.modal-body form
{
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
}
.modal-body form div
{
    margin: 5px;
    padding: 5px;
    /* position: relative; */
}






.carousel-item:nth-child(2)
{
    background-image: url('carousel_picture_2.jpg');
    /* block-size: contain; */
}
.carousel-item:nth-child(3)
{
    background-image: url('carousel_picture_3.jpg');
}
.carousel-item:nth-child(4)
{
    background-image: url('carousel_picture_4.jpg');
    background-size: cover;
    background-position: center center;
    /* background-repeat: no-repeat; */
}
/* Carousel end */


/* Secction-2    Services */
.section-services
{
    margin: 1.1rem auto;
    width:90%;
    background-color: rgba(178, 175, 175, 0.722);
    border-radius:30px;
}
.section-services h5
{
    text-align: center;
    font-size: xxx-large;
    padding: 10px;
    margin: 1.2rem;
}
.services
{
    width:70%;
    margin:auto;
}
.row
{
    justify-content: space-between;
}
.service-item
{
    background-color: aliceblue;
    text-align: center;
    box-shadow: 3px 3px 5px ;
    margin: 25px 0px;
    padding: 1rem;
}
.service-item p
{
    margin: 1.3em;
    font-size: x-large;
}
/* Section 3 ends */

/* Section - 4 Starts      maps */
.maps
{
    margin: 1.1rem auto;
    width:90%;
    background-color: rgba(178, 175, 175, 0.722);
    border-radius:30px;
}
.maps h5
{
    text-align: center;
    font-size: xxx-large;
}
.map-item
{
    display: flex;
    justify-content: space-around;
    margin:1.3em;
}
.map-item a
{
    text-decoration: none;
    padding: 20px 35px;
    margin: 1.4em;
    color:white;
    font-weight: bold;
    background-color: black;
    border-radius: 30px;
    text-align:center;
}
.map-item a:hover
{
    background-color:rgb(6, 6, 143);
    color: white;
    transition: 0.4s ease-in-out;
    transform: translateY(-10px);
}
/* Map section 3 ends */

/* footer */

footer {
    background-color: #040404;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}
/* footer ends */



@media(max-width: 800px)
{
    .navi
    {
        display: none;
    }
    .services
    {
        display: flex;
        flex-direction: column;
    }
    
}
